*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  width: 100%;
}

div .rating {
  position: relative;
  width: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

}

.user-reviews-list {
  display: flex;
  flex-wrap: wraps;
}

.movie {
  margin: 20px;
}

.movie-poster {
  height: 350px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.homepage-card{
  border-style: solid;
  margin: 10px
}
.homepage-card1{
  text-align: center;
  margin: 10px;
}

