.main-homepage {
  background: #000; 
  padding: 20px; /* Add padding for spacing */
}

/* Carousel item */
.carousel-item {
  height: 95vh; /* Set the height of the carousel item to 100% of the viewport height */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Movie card container */
.movie-card {
  max-width: 524px; 
  width: 100%;
  padding: 20px; /* Add padding for spacing */
  background: #fff; /* Set background color of movie card */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  text-align: center;
}

/* Movie poster image */
.movie-p {
  width: 100%; /* Ensure the image fills the entire width */
  height: auto; /* Auto height to maintain aspect ratio */
  border-radius: 8px; /* Add border radius for rounded corners */
  margin-bottom: 20px; /* Add spacing below the image */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

/* Movie title */
.movie-title {
  font-size: 24px; /* Set font size for title */
  font-weight: bold; /* Set font weight for emphasis */
  margin-bottom: 10px; /* Add spacing below the title */
}

/* Movie overview */
.movie-overview {
  font-size: 16px; /* Set font size for overview */
  color: #666; /* Set color for overview text */
  margin-bottom: 20px; /* Add spacing below the overview */
}

/* Movie release date */
.release-date {
  font-size: 14px; /* Set font size for release date */
  color: #999; /* Set color for release date text */
}






